---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import GameComponent from "../../components/GeoGuru/Game.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={`GeoGuru - ${SITE_TITLE}`}
            description="Test your geography knowledge!"
            preloadImage={false}
        />
    </head>
    <body>
        <Header />
        <main>
            <GameComponent />
        </main>
        <Footer />
    </body>
</html>
