---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import GameComponent from "../../components/GeoGuru/Game.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={`GeoGuru - ${SITE_TITLE}`}
            description="Test your geography knowledge!"
            image="/assets/geoguru/GeoGuru.png"
        />
    </head>
    <body
        class="bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-100 transition-colors duration-300 min-h-screen flex flex-col"
    >
        <Header />
        <main class="flex-1 flex flex-col items-center justify-center">
            <GameComponent />
        </main>
        <Footer />
    </body>
</html>
